node_modules
.env
Hey, Cortana, start. Operating in the United States, and they are the same instruction. Hey Cortana, philosophically correct you could say, but possibilities of what you can do. So much more vast. Hey, Cortana. Hey, Cortana. Hey Cortana, tell me something. Funny. 